# Question 5
Step 1. Import the necessary libraries
Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.
Step 4. See the first 10 entries
Step 5. What is the number of observations in the dataset?
Step 6. What is the number of columns in the dataset?
Step 7. Print the name of all the columns.
Step 8. How is the dataset indexed?
Step 9. Which was the most-ordered item?
Step 10. For the most-ordered item, how many items were ordered?
Step 11. What was the most ordered item in the choice_description column?
Step 12. How many items were orderd in total?
Step 13.
• Turn the item price into a float
• Check the item price type
• Create a lambda function and change the type of item price
• Check the item price type
Step 14. How much was the revenue for the period in the dataset?
Step 15. How many orders were made in the period?
Step 16. What is the average revenue amount per order?
Step 17. How many different items are sold?

# Step 1. Import the necessary libraries
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.

In [22]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

# Step 4. See the first 10 entries

In [2]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [3]:
chipo.shape[0]

4622

# Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

# Step 7. Print the name of all the columns.

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Step 9. Which was the most-ordered item?

In [9]:
item = chipo.groupby('item_name')
item = c.sum()
item = c.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 10. For the most-ordered item, how many items were ordered?

In [10]:
item = chipo.groupby('item_name')
item = c.sum()
item = c.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 11. What was the most ordered item in the choice_description column?

In [11]:
item = chipo.groupby('choice_description').sum()
item = c.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 12. How many items were orderd in total?

In [20]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

# Step 13.
# • Turn the item price into a float
# • Check the item price type
# • Create a lambda function and change the type of item price
# • Check the item price type

In [23]:
chipo.item_price.dtype

dtype('O')

In [24]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [25]:
chipo.item_price.dtype

dtype('float64')

# Step 14. How much was the revenue for the period in the dataset?

In [28]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue generated: $' + str(np.round(revenue,2)))

Revenue generated: $39237.02

# Step 15. How many orders were made in the period?

In [27]:
orders = chipo.order_id.value_counts().count()
orders

1834

# Step 16. What is the average revenue amount per order?

In [31]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
grouped_order = chipo.groupby(by=['order_id']).sum()
grouped_order.mean()['revenue']

21.394231188658654

# Step 17. How many different items are sold?

In [32]:
chipo.item_name.value_counts().count()

50